<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title >Trang quản lý employee</title>
</head>

<div layout:fragment="content">
<form class="search-bar" method="get" th:action="@{/employee/detail}">
    <input type="text" name="textSearch" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<button></button>
<a th:href="@{/employee/create}">THÊM NHÂN VIÊN MỚI</a>
<table id="employeeTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Email</th>
        <th>Bộ phận</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeePage}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.departmentId}"></td>
        <td th:text="${employee.roles}"></td>
        <td><a th:href="@{'/employee/edit/' + ${employee.id}}">Sửa</a></td>
        <td><a th:href="@{'/employee/delete/' + ${employee.id}}">Xóa</a></td>
    </tr>
    <span th:text="${message}"></span>
    </tbody>
</table>
</div>

</html>