<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/department/edit/' + ${department.getId()}}" th:object="${department}" method="post">
    <div class="form-group">
        <label for="name">Tên bộ phận</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${department.name}" required>
    </div>
    <div class="form-group">
        <label for="name">Discription</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${department.discription}" required>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
</body>
</html>