<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title >Trang quản lý Department</title>
</head>
<body>
<div layout:fragment="content">
<a th:href="@{/department/create}">THÊM Bộ PHẬN MỚI</a>
<table id="employeeTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Discription</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="department : ${department}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
        <td th:text="${department.description}"></td>
        <td><a th:href="@{'/department/edit/' + ${department.id}}">Sửa</a></td>
        <td><a th:href="@{'/department/delete/' + ${department.id}}">Xóa</a></td>
    </tr>
    <span th:text="${message}"></span>
    </tbody>
</table>
    </div>
</body>
</html>